.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loader {
  display: flex;
  justify-content: center;
}
